.cta {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 3em 0 3em 0;

    &__copy {
        padding: 4em;
        text-align: center;

        h2 {
            margin: 0 0 1em 0;

            @include respond(phone) {
                margin: 0 0 2em 0;
                font-size: $mid-phone-size;
            }
        }

        img {
            @include respond(phone) {
                width: 18em;
            }
        }
    }

    .hero__lines {
        width: 30em;
        height: 30em;
        opacity: .7;
        left: 10vw;
    }

}