.cta {
    position: relative;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 3em 0 3em 0;

    @include respond(phone) {
        margin: 0;
    }

    &__copy {
        padding: 4em 2em 4em 2em;
        text-align: center;

        h2 {
            margin: 0;

            @include respond(phone) {
                margin: 2em 0 1em 0;
                font-size: $mid-phone-size;
            }
        }
    }

    #left-mark {
        position: absolute;
        width: 40em;
        left: -20vw;

        @include respond(phone) {
            opacity: 0;
        }
    }
    #right-mark {
        position: absolute;
        width: 30em;
        right: -10vw;
        top: -60vh;

        @include respond(phone) {
            opacity: 0;
        }
    }

}