.faq {
    background: linear-gradient($accent, #fff);

    &__copy {
        padding-left: 2em;

        @include respond(phone) {
            padding-right: 1em;
        }
    }

    &__block {
        padding: 2em 10em 2em 10em;

        @include respond(phone) {
            padding: 0 1em 1em 1em;
        }
        @include respond(tab-land) {
            padding: 0 1em 1em 1em;
        }

        h3 {
            @include respond(phone) {
                font-size: $mid-phone-size;
            }
        }

        .MuiAccordionSummary-root {
            padding: .5em 2em .5em 2em;
        }
        .MuiAccordionDetails-root {
            padding: 0 20em 1em 2em;

            @include respond(phone) {
                padding: 0 2em 1em 2em;
            }
        }
        .MuiAccordionSummary-content.Mui-expanded {
            h3 {
                border-bottom: 1px solid;
                padding-bottom: 1.5em;
                margin: 0;
            }
        }
        
    }

}