.faq {
    background: linear-gradient($accent, #fff);

    &__copy {
        padding-left: 2em;

        @include respond(phone) {
            padding-right: 1em;
        }
    }

    &__block {
        padding: 2em 10em 2em 10em;

        @include respond(phone) {
            padding: 0 1em 1em 1em;
        }
        @include respond(tab-land) {
            padding: 0 1em 1em 1em;
        }

        h3 {
            @include respond(phone) {
                font-size: $sm-phone-size;
            }
        }

        .MuiAccordion-root:before {
            opacity: 0;
        }
        .MuiAccordion-root:after {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 1px;
            left: 0;
            right: 0;
            background-color: $secondary;
            opacity: .1;
        }
        .MuiPaper-elevation1 {
            box-shadow: none;
        }
        .MuiAccordionSummary-root {
            padding: 1em 2em .5em 2em;
        }
        .MuiAccordionDetails-root {
            padding: 0 20em 1em 2em;

            @include respond(phone) {
                padding: 0 2em 1em 2em;
            }
        }
        .MuiAccordionSummary-content.Mui-expanded {
            margin: 0;
            h3 {
                margin: 0;
            }
        }
        
    }

}