.hero {
    display: flex;
    padding: 0;
    flex-wrap: wrap;

    @include respond(phone) {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    &__copy {
        max-width: 35em;
        padding: 10em 3em 3em 8em;
        margin-right: 10em;

        

        @include respond(tab-land) {
            max-width: 25em;
            padding: 10em 3em 3em 5em;
            margin: 0;
        }
        @include respond(tab-port) {
            max-width: 25em;
            padding: 10em 3em 3em 3em;
            margin: 0;
        }
        @include respond(phone) {
            max-width: 15em;
            padding: 1em;
            margin: 0;
        }

        #name {
            margin: 0;
        }

        p {
            margin-bottom: 1.5em;
        }

        &__dates {
            color: $primary;
            font-weight: 700;
        }

    }
    
    &__logo {
        padding: 7em 0 0 0;

        
        @include respond(tab-land) {
            width: 15em;
            padding: 0 0 0 10em;
        }
        @include respond(tab-port) {
            width: 8em;
            padding: 0 0 0 2em;
        }
        @include respond(phone) {
            width: 6em;
            padding: 2em;
        }
        

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__lines {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        opacity: .3;
        right: -30vw;

        @include respond(phone) {
            opacity: .5;
            top: -5vh;
            left: -10vw;
        }
    }
}