.hero {
    display: flex;
    padding: 8em 0 10em 6em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
        flex-wrap: wrap-reverse;
        padding: 0;
    }

    &__copy {
        max-width: 40em;

        @include respond(tab-land) {
            max-width: 25em;
            padding: 10em 3em 3em 5em;
            margin: 0;
        }
        @include respond(tab-port) {
            max-width: 25em;
            padding: 10em 3em 3em 3em;
            margin: 0;
        }
        @include respond(phone) {
            max-width: 15em;
            padding: 2em;
            margin: 0;
        }

        #name {
            margin: 0;
        }

        p {
            margin-bottom: 1.5em;
            max-width: 30em;
        }

        &__dates {
            color: $primary;
            font-weight: 700;
        }

    }
    
    &__image {
        width: 40em;
        border-radius: 50%;
       //  max-height: 20em;
    }

    .circle {
        position: absolute;
        right: 0;
        transform: translateX(50%);
        width: 50em;
        height: 50em;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        border-width: 5px;
        z-index: 1;

        @include respond(phone) {
            width: 20em;
            height: 20em;
            top: 0;
            left: 50%;
            transform: translateY(-50%);
            background-color: $primary;
        }

        &-second {
            transform: translateX(60%);
            width: 60em;
            height: 60em;
        }
    }

    #watermark {
        width: 30em;
        left: 0;
        transform: translate(-50%, 70%);
        bottom: 0;
    }

}