.mission {

    &__copy {
        color: $off-white;
        background-color: $secondary;
        padding: 3em;
    }
    &__outcomes {
        background-color: $accent;
        padding: 3em;

        &__wins {
            display: flex;
            flex-wrap: wrap;

            &__win {
                max-width: 35em;
                margin-right: 1.5em;
            }
        }
    }
}