.program {
    background: linear-gradient(#fff, $accent); 

    &__copy {
        padding-left: 2em;
        width: 60vw;

        @include respond(phone) {
            padding-top: 2em;
            width: 80vw;
        }
    }

    .MuiTimeline-root {
        padding: 2em 4em 1em 4em;
        @include respond(phone) {
            padding: 2em;
        }
        @include respond(tab-land) {
            padding: 2em;
        }
    }

    .MuiTimelineItem-missingOppositeContent:before {
        @include respond(phone) {
            flex: 0;
            padding: 0;
        }
    }
}