// COLORS

$off-white: #EDF2F4;
$dark-blue: #2B2D42;
$blue-grey: #8D99AE;
$red: #EF233C;


// FONT SIZE
$default-font-size: 1.7rem;
$button-font-size: .5rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
