// COLORS

$primary: #0FB5BB;
$secondary: #323131;
$accent: #EFF9FB;
$off-white: #FFFFFF;


// FONT SIZE
$default-font-size: 1.2rem;
$button-font-size: .5rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$sm-font-size: .8em;
