.footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(#fff, $accent);
    padding: 2em;
    

    &__copy {
        
        p {
            font-size: $sm-font-size;
        }

        img {
            height: 8em;
        }
    }
}