// Section
html, body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
}

section {
    padding: 3em;
    overflow: hidden;

    @include respond(phone) {
      padding: 0;
    }

    h1 {
      margin: 0;

      @include respond(phone) {
          font-size: $big-phone-size;
      }
    }

    h2 {

      @include respond(phone) {
        font-size: $mid-phone-size;
      }
    }

    p {
        @include respond(phone) {
            font-size: $sm-phone-size;
        }
    }

    #name {
      font-weight: 400;
      color: $primary;
    }

    #watermark {
      position: absolute;
      transform-origin: center;
      right: 10vw;
      bottom: 35vh;
      width: 30em;
      opacity: .05;
      z-index: -1;
    }

    
  }
  