/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 1rem $default-font-size;
  line-height: 1;
  z-index: 1;
  border-radius: .5em;
  background-color: $primary;


  a {
    font-size: $default-font-size;
    text-decoration: none;
    color: $off-white;
  }

 
}


